.container {
    font-family: Arial, sans-serif;
}

svg.calendar {
    width: 100%;
    height: 1000px;
    border: 1px solid #9e9e9e;
    position: relative;
}

path.domain {
    stroke: #cacaca;
}

.build {
    fill: blue;
}

g.tick line {
    stroke: #9e9e9e;
    stroke-width: 0.5px;
}

rect.milestone-diamond {
    stroke: black;
    stroke-width: 1px;
    transform: rotate(45deg);
    fill: white;
    width: 10px;
    height: 10px;
}

.milestone {
    backface-visibility: hidden;
    cursor: grab;
}

.milestone > foreignObject {
    width: 100px;
    height: 50px;
}
.milestone-label {
    margin-left: 10px;
    font-family: Arial;
    font-size: 11px;
    opacity: 1;
    transition: 1s;
}

g.milestone.hidden .milestone-label {
    *opacity: 0;
    transition: 1s;
}

.milestone-label .title {
    font-weight: bold;
    font-size: 14px;
}

.platform {
    
}

.platform > foreignObject {
    height: 27px;
    width: 100%;
}

.platform__label {
    padding: 7px 10px;
    color: #585858;
    font-size: 12px;
    font-weight: bold;
    background: #98989840;
}

g.timeline { 
    transition: transform .1s ease-in-out;
}

g.timeline > foreignObject {
    transition: max-height .5s ease-in-out;
}

.timeline__label {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.timeline__background {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

[even=true].timeline__background {
    background: #e2e2e263;
}

.build {

}

.build__header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

.build__title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 5px 3px 12px;
}

.build__name {
    font-size: 14px;
    margin-left: 15px;
}

.build__arrow {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    transform: rotate(135deg);
    margin-right: 4px;
    position: fixed;
    transition: transform .2s ease-in-out;
}

g.build[expanded="true"] .build__arrow {
    transform: rotate(-45deg);
}

.build__banding {
    width: 100%;
    height: 3px;
    background: blueviolet;
}

.build__banding:before {
    content: "";
    width: 6px;
    height: 6px;
    background: blueviolet;
    position: fixed;
    top: 23px;
    border-radius: 50%;
}

.build__banding:after {
    content: "";
    width: 6px;
    height: 6px;
    background: blueviolet;
    position: fixed;
    top: 23px;
    right: 0;
    border-radius: 50%;
}

g.build.poc .build__banding,
g.build.poc .build__banding:after, 
g.build.poc .build__banding:before {
    background: #cc0099;
}

g.build.proto .build__banding,
g.build.proto .build__banding:after, 
g.build.proto .build__banding:before {
    background: #5bcaff;
}

g.build.evt .build__banding,
g.build.evt .build__banding:after, 
g.build.evt .build__banding:before {
    background: #4cd964;
}

g.build.dvt .build__banding,
g.build.dvt .build__banding:after, 
g.build.dvt .build__banding:before {
    background: #ff9500;
}

g.build.pvt .build__banding,
g.build.pvt .build__banding:after, 
g.build.pvt .build__banding:before {
    background: #0088cc;
}


g.items {
}

g.build__milestone {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}

.build__milestone > foreignObject {
    width: 100px;
    height: 50px;
}

.build__milestone-label {
    font-family: Arial;
    font-size: 10px;
    opacity: 1;
}

.build__milestone-label-title {
    font-weight: bold;
    font-size: 10px;
}

.build__milestone-diamond {
    fill: blueviolet;
}

g.build__milestone.poc .build__milestone-diamond {
    fill: #cc0099;
}

g.build__milestone.proto .build__milestone-diamond {
    fill: #5bcaff;
}

g.build__milestone.evt .build__milestone-diamond {
    fill: #4cd964;
}

g.build__milestone.dvt .build__milestone-diamond {
    fill: #ff9500;
}

g.build__milestone.pvt .build__milestone-diamond {
    fill: #0088cc;
}

.build__milestone.visible {
    opacity: 1;
    pointer-events: all;
}

